---
import Image from "astro/components/Image.astro";
const { image, title, url } = Astro.props;
---

<div
  class="post-card bg-gray-50 dark:bg-gray-700 flex flex-col items-center
rounded-xl overflow-hidden shadow-xl"
>
  <div class="w-full">
    <a href={url}>
      <Image
        src={image.url}
        alt={image.alt}
        inferSize={true}
        class="w-full h-full object-cover aspect-square"
      />
    </a>
  </div>
  <div>
    <h3 class="text-2xl p-2"><a href={url}>{title}</a></h3>
  </div>
</div>
