---

---

<div class="wrapper">
  <form
    id="contact-form"
    class="flex flex-col bg-transparent shadow-md dark:border rounded dark:border-gray-700 px-8 pt-6 pb-8 mb-4"
  >
    <h3 class="text-3xl text-amber-600 text-center">Contact</h3>
    <div class="mb-4">
      <label
        class="block text-gray-700 dark:text-gray-600 text-sm font-bold mb-2"
        for="name"
      >
        Name
      </label>
      <input
        class="form-input"
        id="name"
        name="name"
        type="text"
        placeholder="John Doe"
      />
      <p class="error-message hidden text-red-500 text-xs italic"></p>
    </div>
    <div class="mb-6">
      <label
        class="block text-gray-700 dark:text-gray-600 text-sm font-bold mb-2"
        for="email"
      >
        Email
      </label>
      <input
        class="form-input"
        id="email"
        name="email"
        type="email"
        placeholder="john@example.com"
      />
      <p class="error-message hidden text-red-500 text-xs italic"></p>
    </div>
    <div class="mb-4">
      <textarea
        name="message"
        id="message"
        class="form-input min-h-24 leading-relaxed resize-none"></textarea>
      <p class="error-message hidden text-red-500 text-xs italic"></p>
    </div>
    <!-- honeypot field to catch bots.  -->
    <div class="mb-4">
      <label for="emmie" class="sr-only">Real users skip this field</label>
      <input
        id="emmie"
        type="text"
        name="emmie"
        class="sr-only"
        tabindex="-1"
      />
      <span class="text-gray-700"
        >This contact form is for professional inquiries only.</span
      >
    </div>
    <div class="flex items-center justify-between">
      <button
        class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
        disabled
      >
        Contact Us
      </button>
    </div>
  </form>
  <!-- Loading -->
  <div
    id="contact-loading"
    class="flex flex-col items-center justify-center bg-yellow-400 text-white px-8 py-16 mb-4 rounded"
  >
    <h3 class="text-3xl">Loading...</h3>
  </div>
  <!-- Success Panel -->
  <div
    id="contact-success"
    class="flex flex-col rounded items-center justify-center bg-green-600 text-white"
  >
    <h3 class="text-3xl mb-3">Success</h3>
    <p>Your contact was uploaded successfully.</p>
  </div>
  <!-- Failure Panel -->
  <div
    id="contact-failure"
    class="flex flex-col rounded items-center justify-center bg-red-600 text-white"
  >
    <h3 class="text-3xl mb-3">Failure</h3>
    <p>Your contact form was unsuccessful.</p>
  </div>
</div>

<script>
  import {
    showError,
    clearError,
    showValid,
    removeClasses,
  } from "../scripts/contactForm";

  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  const endpoint = import.meta.env.PUBLIC_API_URL;

  // Valid fields for the form
  const fields = {
    name: { length: { min: 5, max: 64 } },
    email: {
      length: { min: 5, max: 64 },
      pattern: {
        regex: emailRegex,
        message: "please enter a valid email address.",
      },
    },
    message: { length: { min: 5, max: 500 } },
  };

  document.addEventListener("DOMContentLoaded", () => {
    // panels
    const form = document.querySelector("#contact-form") as HTMLFormElement;
    const button = form.querySelector("button");
    const loading = document.querySelector<Element>("#contact-loading");
    const success = document.querySelector<Element>("#contact-success");
    const failure = document.querySelector<Element>("#contact-failure");
    const panels = [form, loading, success, failure];

    const showPanel = (panel: Element) => {
      panels.forEach((el) => el?.classList.remove("active"));
      panel.classList.add("active");
    };

    // FIELD VALIDATION
    const validateField = (field: string) => {
      const input: HTMLInputElement = form.querySelector(
        `[name="${field}"]`,
      ) as HTMLInputElement;
      const value = input.value.trim();

      clearError(input);

      // Check for input
      if (!value) {
        showError(input, "This field is required.");
        return false;
      }

      // Check for min and max length
      const { min, max } = fields[field].length;
      if (value.length < min) {
        showError(input, `Input must have a minimum of ${min} characters.`);
        return false;
      }

      if (value.length > max) {
        showError(input, `Input has exceeded its maximum length.`);
        return false;
      }

      // Check for regex
      if (fields[field].pattern && !fields[field].pattern.regex.test(value)) {
        showError(input, fields[field].pattern.message);
        return false;
      }

      showValid(input);
      return true;
    };

    // Validate for button
    const updateButton = () => {
      const allValid = Object.keys(fields).every((field) => {
        const input = form.querySelector(
          `[name="${field}"]`,
        ) as HTMLInputElement;
        const value = input.value.trim();
        if (!value || value.length < fields[field].length.min) return false;
        if (value.length > fields[field].length.max) return false;
        if (fields[field].pattern && !fields[field].pattern.regex.test(value))
          return false;
        return true;
      });
      button!.disabled = allValid ? false : true;
      button!.classList.toggle("opacity-50", !allValid);
      button!.classList.toggle("cursor-not-allowed", !allValid);
    };

    // attach validation to onblur
    Object.keys(fields).forEach((field) => {
      const input = form.querySelector(`[name="${field}"]`);
      if (!input) return;
      input.addEventListener("blur", () => validateField(field));
      input.addEventListener("input", updateButton);
    });

    form?.addEventListener("submit", async (e) => {
      e.preventDefault();

      // Honeypot check
      const honeypot = form.querySelector("[name='emmie']") as HTMLInputElement;
      if (honeypot?.value) return;

      const formData = new FormData(form);

      showPanel(loading);

      Object.keys(fields).forEach((field) => {
        const input = form.querySelector(`[name="${field}"]`);
        removeClasses(input);
      });

      try {
        const response = await fetch(endpoint, {
          method: "POST",
          headers: { Accept: "application/json" },
          body: formData,
        });

        if (!response.ok) {
          throw new Error("Request failed");
        }
        form.reset();
        updateButton();
        showPanel(success);
      } catch (error) {
        showPanel(failure);
        return; // 👈 important: stop execution
      }

      setTimeout(() => {
        showPanel(form);
      }, 2500);
    });

    // THE FUNCTIONS THAT MUST RUN RIGHT AWAY
    showPanel(form);
    updateButton();
  });
</script>
<style>
  .wrapper {
    /* wrapper */
    display: grid;
    grid-template-areas: "panel";
  }
  /* all children */
  .wrapper > * {
    grid-area: panel;
    visibility: hidden;
    opacity: 0;
  }

  .wrapper > .active {
    visibility: visible;
    opacity: 1;
  }
</style>
